<div class="login-wrapper">
  <h1>Shortly</h1>
  <div class="form-wrapper">
    <form action="/login" method="post">
      <div>
        <input id="username" type="text" name="username" placeholder="username">
      </div>
      <div>
        <input id="password" type="password" name="password" placeholder="password">
      </div>
      <div>
        <input type="submit" value="Login">
      </div>
    </form>
  </div>
  <p>
    <a href="/signup">Create an Account &rarr;</a>
  <p>
</div>
