body {
  margin: 0;
  margin-top: 10px;
  font-family: 'Noto Serif', serif;
  background-color: #8066ac;
  color: white;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  font-family: 'Bree Serif', serif;
  margin-bottom: 10px;
  font-size: 5em;
  text-align: center;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: #eee;
  border-bottom: 2px solid black;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
  color: #8066ac;
}

.navigation .logout {
  float: right;
}

.navigation li a , .logout {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #ddd;
}

.navigation li a.selected {
  background-color: #ccc;
}

#container {
  clear: both;
  margin-top: 10px;
}

.link {
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  min-height: 50px;
  border-left: 5px solid rgba(0,0,0,0);
}

.link:hover {
  border-left: 5px solid black;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: white;
  font-size: 12px;
}

.link .info {
  margin-left: 15px;
}

form {
  margin: 10px;
}

form input[type=text], form input[type=password] {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

.error {
  background-color: #fee;
  color: #a33;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}

.login-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding-bottom: 30px;
  width: 500px;
  height: 300px;
  /*border-radius: 10px;*/
  border: 5px solid white;
  box-shadow: 0 0 30px 8px rgba(0,0,0,0.5)
}

input {
  margin: 0 auto;
}

.submit-wrapper{
  margin: 0 auto;
  text-align: center;
}

.create-wrapper{
  text-align: right;
  margin-right: 15px;
}

a {
  color: white;
}

a:hover{
  text-decoration: underline;
}

input[type="submit"] {
  padding: 20px;
  width: 50px;
  margin: auto;
  font-size: 2em;
  font-family: 'Bree Serif', serif;
}

i {
  float: left;
  margin-right: 10px;
}

i.fa.fa-archive {
  font-size: 3.8em;
}

.index, .create, .logout{
  color: #8066ac;
}

input.shorten-button {
  width: 70px;
}
